<!DOCTYPE html>
<html lang="ja">
<%- include("./__share/head"); %>
<body>
    <%- include("./__share/header"); %>
    <div class="main">
        <% if(session === undefined) {%>
             <%- include("./__share/login"); %> 
        <%} else if(session !== undefined){ %>
            <%- include("./__share/main"); %>
        <%}%>
    </div>
    <%- include("./__share/footer"); %>
</body>
<%- include("./__share/javascripts"); %>
</html>